/*CSS NAVBAR*/
.navbarDesktop {
    margin: auto 0;
    background-color: #053165;
    display: flex;
    width: 100%;
    height: fit-content;
  }
  
  .logo {
    color: #e8e8e8;
    margin: auto 0;
    padding: 0.25% 1.5% 0.5% 0.5%;
    font-size: 240%;
    font-family: "Red Rose", cursive;
  
    /*borda*/
    border: #377fd2;
    border-width: thin;
    border-right-style: groove;
  }
  .logo:hover{
    transform:scale(1.03, 1.03);
  }
  .links-container{
    display:flex;
    align-content: center;
    width: 100%;
  }
  
  .optionNav {
    color: #e8e8e8;
    margin: auto 0;
    padding: 0% 2%;
    font-size: 150%;
    font-family: "Quattrocento", serif;
  }
  .optionNav:hover{
    transform:scale(1.1, 1.1);
  }
  .bemvindo {
    margin: auto 0;
    padding-left: 42%;
    padding-right: 3%;
    color: #e8e8e8;
  }
 .logologout{
   align-self: center;
   float: left;
   margin-left: auto;
   padding-right: 1rem;
 }
  .logologout a{
    
    align-self: center;
  }
  .user {
    margin: auto 0;
    padding: 1%;
    /* background-color: #b3b3b3;
    border-radius: 50%; */
  }

  .table-container{
    margin-top:3rem;
  }
  

  
  